*{
    box-sizing: border-box;
}
.hr1{
    background-color: rgb(154, 96, 96);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(198, 198, 113);

}
.list{
    color: rgb(112, 20, 39);
}
footer {
    background-color: rgb(198, 198, 113);
    padding: 10px;
    text-align: center;
    color: rgb(154, 96, 96);
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
}
canvas{
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    width: auto;
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    z-index: -1;



}