*{
    box-sizing: border-box;
}
.hr1{
    background-color: rgb(154, 96, 96);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(198, 198, 113);

}
.list{
    color: rgb(112, 20, 39);
}
footer {
    background-color: rgb(198, 198, 113);
    padding: 10px;
    text-align: center;
    color: rgb(154, 96, 96);
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: 100px;
    }
}
@media (max-width: 1200px){
    canvas{
        width: fit-content;
        height: auto;
    }

    
}
canvas{
    padding-left: auto;
    padding-right: auto;
    margin: auto;
    width: auto;
    display:grid;
    position: relative;
    background-color: rgba(182, 26, 70, 0.686);
    z-index: -1;
}
h2{
    position:relative;
    display: block;
    margin: auto;
    width: fit-content;
    background-color: rgb(11, 23, 23);
    padding-left: 285px;
    padding-right: 280px;
    color: rgb(167, 109, 35);
    padding-top: 10px;
    padding-bottom: 10px;
}